<div class="card">
    <div [hidden]="!authenticated()">
        <div class="card-body">
            <div class="d-md-flex align-items-center">
                <div>
                    <h4 class="card-title">
                        Gestion des comptes utilisateurs
                    </h4>
                    <h6 class="card-subtitle">Liste utilisateurs</h6>
                </div>
                <!--<div class="ml-auto">
                <select class="custom-select b-0">
            <option selected="">January 2020</option>
            <option value="1">February 2020</option>
            <option value="2">March 2020</option>
            <option value="3">April 2020</option>
          </select>
            </div>-->
            </div>

        </div>
        <div class="table-responsive">
            <table class="table v-middle mb-0">
                <thead>
                    <tr>
                        <th class="border-top-0 font-medium border-bottom-0">Nom</th>
                        <th class="border-top-0 font-medium border-bottom-0">Prenom</th>
                        <th class="border-top-0 font-medium border-bottom-0">Username</th>
                        <th class="border-top-0 font-medium border-bottom-0">Mail</th>
                        <th class="border-top-0 font-medium border-bottom-0">Newsletter</th>
                        <th class="border-top-0 font-medium border-bottom-0">Gestion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let u of usersExtra'>
                        <td>{{u.nom}}</td>
                        <td>{{u.prenom}}</td>
                        <td>{{u.username}}</td>
                        <td>{{u.mail}}</td>
                        <td>{{u.newsAbo}}</td>
                        <td>
                            <div>
                                <button type="button" class="btn btn-rounded btn-warning" (click)="deleteUser(u.id)">Delete</button>
                                <button type="button" class="btn btn-rounded btn-info" (click)="editUser(u)">Update</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>