.center-div {
	margin: 0 auto;
	width: 920px; 
}


.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #FFFF00;
}
.heart {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}
.full {
  color: red;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: red;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:double;
  
}

.body{
  background-color: #FBEEEB;
}

.container{
  display:flex;
  align-items: left;
}
