<div class="container-fluid mt--7">
    <div class="card">
        <div class="card-header">
            <strong>Nouveau guide</strong>
            <small></small>
        </div>
        <form (ngSubmit)="saveGuide()">
            <div class="card-body">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" [(ngModel)]="guide.title" name="title" placeholder="Guide title">
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" [(ngModel)]="guide.country" name="country" placeholder="Enter the country">
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" [(ngModel)]="guide.text" name="text" placeholder="Guide description">
                </div>
                <div class="form-group">
                    <label for="fileUform">Photos</label>
                    <input class="form-control-file" type="file" name="fileUform" (change)="selectFile($event)" />
                </div>
                <div class="form-group">
                    <ngb-rating [(rate)]="guide.rating">
                        <ng-template let-fill="fill">
                            <span type="text" [(ngModel)]="guide.rating" name="rating" class="star form-control" [class.filled]="fill === 100">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                </div>
                <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <button class="btn btn-block btn-success">Ajouter</button>

                </div>
            </div>
        </form>


    </div>
</div>