<div class="col-lg-3 col-md-6">
    <!-- Experience -->
    <div class="experience">
        <img class="experience-img-top img-responsive" src="data:image/jpeg;base64,{{experience.photos}}" style="width: 330px; height: 400px;" alt="Experience image cap">
        <div class="experience-body">
            <h4 class="experience-title">{{experience.title}}
                <ngb-rating [(rate)]="experience.rating">
                    <ng-template let-fill="fill">
                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                </ngb-rating>
            </h4>
            <p class="experience-text">{{experience.text}}</p>
            <h4 class="experience-title">{{experience.videos}}</h4>
            <iframe width="560" height="315" src='' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="#" class="btn btn-primary">En savoir plus</a>
        </div>
    </div>
    <!-- Experience -->
</div>