<div class="container-fluid" id="content" #content>
    <div class="col-lg-10 col-md-6">
        <!-- Experience -->
        <div class="experience">
            <div class="card">
            <div class="container">
                <img class="experience-img-top img-responsive" src="data:image/jpeg;base64,{{experience.photos}}" style="width: 330px; height: 300px;" alt="Experience image cap">
                <br/>
                <div class="experience-body">

                    <h3 class="experience-title">{{experience.title}}
                        <ngb-rating [(rate)]="experience.rating">
                            <ng-template let-fill="fill">
                                <span class="star" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                    </h3>
                    <h5>Pays : {{experience.country}}</h5>
                    <p class="experience-text" style="white-space: pre-line;">{{experience.text}}</p>
                    
                </div>
                
            </div>
            
        </div>
        <iframe width="560" height="315" [src]='experience.videos |sanitizer' title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
        <!-- Experience -->
        <br/>
        <hr/>
        <!-- Commentaires -->
        <div class="experience">
            <div class="experience-title">
                <h2>Commentaires</h2>
            </div>
            <div class="experience-group" *ngFor="let c of expCommentExtra">
                <div class="row my-5">
                    <div class="col-lg-10 col-md-6">
                        <div class="experience-body">
                            <h4 class="experience-title">
                                <ngb-rating [(rate)]=c.rating>
                                    <ng-template let-fill="fill">
                                        <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </h4>

                            <p class="experience-text">{{c.text}}</p>
                            <p class="experience-text"><small class="text-muted">{{c.date}}</small></p>
                            <br/>
                            <div>
                                <button type="button" class="btn btn-rounded btn-warning" (click)="deleteComment(c.id)">Delete</button>
                            </div>
                            <br/>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Commentaires -->
    </div>
    <!-- Formulaire commentaires -->
    <div class="col-lg-10 col-md-6">
        <div class="card">
            <div class="card-header">
                <strong>Rediger un commentaire</strong>
                <small></small>
            </div>
            <form (ngSubmit)="saveComment()">
                <div class="card-body">
                    <div class="form-group">
                        <label>Texte</label>
                        <textarea type="text" class="form-control" [(ngModel)]="expComment.text" name="text" placeholder="Comment"></textarea>
                    </div>
                    <div class="form-group">
                        <ngb-rating [(rate)]="expComment.rating">
                            <ng-template let-fill="fill">
                                <span type="text" [(ngModel)]="expComment.rating" name="rating" class="star form-control" [class.filled]="fill === 100">&#9733;</span>
                            </ng-template>
                        </ngb-rating>
                    </div>
                    <div>
                        <button class="btn btn-block btn-success">Ajouter</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Formulaire commentaires -->
</div>
<input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">