
<div class="row">
    
    <div class="col-12">
       

        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                  Pays
                </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="findcountry(c.country)" class="dropdown-item" *ngFor="let c of countryList">{{c.country}}</button>


            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                      Filtre de recherche
                    </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="findtop()" class="dropdown-item">Par note</button>
            </div>
        </div>
    

        <br>
        <br>

        <div class="container-fluid padding">
            <div class="row welcome text-center">
                <div class="col-12">
              
             
    
          <h2 class="display-4">Les expériences les plus aimées</h2>
          <div>
          <hr>
        </div>
          </div>
        </div>
    </div>
        <!-- Row -->
        <div class="container-fluid padding">
            <div class="row padding">
        <div class="row">
           
            <!-- column -->
            <div class="col-lg-3 col-md-6" *ngFor="let t of top">
                <!-- Experience -->
                <div class="card">
                <div class="experience">
                    <img class="experience-img-top img-responsive" src="data:image/jpeg;base64,{{t.photos}}" style="width: 280px; height: 240px;" alt="Experience image cap">
                    <div class="experience-body">
                        <h4 class="experience-title">
                            <a href="http://localhost:4200/component/oneExperience/{{t.id}}" (click)="getExperience(t)" style="color:black">{{t.title}} </a>
                            <ngb-rating [(rate)]=t.rating>
                                <ng-template let-fill="fill">
                                    <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                </ng-template>
                            </ngb-rating>
                        </h4>
                        <p class="experience-text">{{t.text}}</p>
                        <a href="http://localhost:4200/component/oneExperience/{{t.id}}"(click)="getExperience(t)" class="btn btn-primary">En savoir plus</a>
                    </div>
                </div>
            </div>
        
                </div>
                <!-- Experience -->
            </div>
            <!-- column -->
            </div>
        </div>
        <!-- Row -->


        <!-- End Row -->
        <!-- Row -->
        

        <h3 class="m-b-0">Toutes les experiences</h3>
        <p class="text-muted m-t-0 font-12">Pour que vos voyages riment avec aventure</p>

        <div class="row" *ngFor="let e of list">
            
            <div class="col-12 m-t-30">
                <div class="card">
                <div class="experience-group">
                    <div class="row my-5">
                        <div class="col-lg-2 col-xl-2">
                            <div class="mb-lg-0 mb-2">
                                <img class="experience-img-top img-responsive" src="data:image/jpeg;base64,{{e.photos}}" style="width: 170px; height: 150px;">
                            </div>
                        </div>

                        <div class="col-lg-5 col-xl-0">
                            <div class="experience-body">
                                <h4 class="experience-title"><a (click)="getExperience(e)">{{e.title}}</a>
                                    <ngb-rating [(rate)]=e.rating>
                                        <ng-template let-fill="fill">
                                            <span class="star" [class.filled]="fill === 100">&#9733;</span>
                                        </ng-template>
                                    </ngb-rating>
                                </h4>

                                <p class="experience-text">{{e.text}}</p>
                                <p class="experience-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                
                                <hr>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

                <div class="btn-group">
                <a class="btn btn-primary" href="http://localhost:4200/component/experienceDetail"><strong>Ajouter mon expérience</strong></a>
                <div [hidden]="!authenticated()">
                <a class="btn btn-success" href="http://localhost:4200/component/valideExperience"><strong>Valider l'ajout de l'expérience</strong></a>
                </div>
            </div>
                <!-- End Row -->